.idea
bin
build

matlab/j_opt.m
matlab/a_opt.m
matlab/s_opt.m
matlab/v_opt.m
matlab/evalPrimitiveCoeffs.m
matlab/finalOptTimeStop.m
matlab/totalCost.m
matlab/finalOptTime.m
matlab/finalOptVel.m

matlab/*.asv
cmake-build-release
cmake-build-debug
Icon
icon